<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
	</head>
	<body>
		<h1>Google Clone</h1>
		<form action="/search" method="post">
			<input
				type="text"
				name="query"
				placeholder="Enter your search query"
			/>
			<button type="submit">Search</button>
		</form>
	</body>
</html>
